@import url('https://fonts.cdnfonts.com/css/8bit-wonder');


body{ 
    
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(../images/backg.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}
.cir{ 
    border-radius: 50%;
    width: 500px;
    height: 500px;
}

.e-bit{ 
    font-family: '8BIT WONDER', sans-serif;
    color: white;
    font-size: 3.3vmax;
}

.move-bottom{ 
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}



.logo.is-animetion {
    margin-top: 0.6em;
  }
.white{ 
    color: white; 
}
.nav-b{
    display: inline-block;
    
    float: right; 

}

.intro{
    text-align: center;
    font-size: 3.0vmin;
}
.top-buff{
  position: relative;
  top: -37px;

}


  
  @keyframes wave-text{
    00%{
      transform: translateY(0em);
    }
    60%{
      transform: translateY(-0.6em);
    }
    100%{
      transform: translateY(0em);
    }
  }
  @media only screen and (max-width: 1199px) {
    
    .mid{ 
      
      
      align-items: center;
    }
    .e-bitt{ 
      font-family: '8BIT WONDER', sans-serif;
      color: white;
      font-size: 18px; 
  }
  .top-buff{
    display: none;
  }
 
    
  }
  @media only screen and (max-width: 720px) {
    .image {
      display: none;
    }
    .mid{ 
      
      
      align-items: center;
    }
    .e-bitt{ 
      font-family: '8BIT WONDER', sans-serif;
      color: white;
      font-size: 18px; 
  }
 
    
  }
  .line-1{

   
   
   

    
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 4.0vmin;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter1{
  border-right: 2px solid transparent;
  animation: typewriter1 3s steps(44) 1s 1 normal both,
             blinkTextCursor1 500ms step-end 8;
}
.anim-typewriter2{
  border-right: 2px solid transparent;
  animation: typewriter2 4s steps(44) 1s 1 normal both,
             blinkTextCursor2 500ms steps(44) infinite ;
             -webkit-animation-delay: 4s;
             animation-delay: 4s;
}
@keyframes typewriter1{
  from{width: 0;}
  to{width: 17em;}
}
@keyframes typewriter2{
  from{width: 0;}
  to{width: 24em;}
}
@keyframes blinkTextCursor1{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

@keyframes blinkTextCursor2{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}